<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="/css/creacion.css" rel="stylesheet">
    <title>A침adir Producto</title>
</head>
<body>

    <%- include ('../partials/header') %> 

    <section class="container forms">

        <div class="form login">
            
            <div class="form-content">

                <header class="reg">A침adir Producto</header>

                <form action="/productos/add/create" method="POST" enctype="multipart/form-data">

                    <div class="campo input-campo">
                        <label for="name">Nombre de Producto:  </label>
                        <input type="text" placeholder="..." class="input" name="name">
                    </div>

                    <div class="campo input-campo">
                        <label for="description">Descripci칩n de Producto:  </label>
                        <input type="text" placeholder="..." class="input" name="description">
                    </div>

                    <div class="campo input-campo">
                        <label for="img">Imagen Producto:  </label>
                        <input type="file" placeholder="..." accept="image/png, image/gif, image/jpeg" name="img">
                    </div>

                    <div class="campo input-campo">
                        <label for="type">Categorias:  </label>
                        <select name="type" id="categorias">
                            <% for (let i = 0; i < allTypes.length; i++) { %> 
                                <option value="<%= allTypes[i].id %>"><%= allTypes[i].name %></option>
                            <% } %> 
                        </select>
                    </div>

                    <div class="campo input-campo">
                        <label for="lot">Cantidad:  </label>
                        <select name="lot" id="cantidad">
                            <% for (let i = 0; i < allLots.length; i++) { %> 
                                <option value="<%= allLots[i].id %>"><%= allLots[i].name %></option>
                            <% } %> 
                        </select>
                    </div>
                    
                    <div class="campo input-campo">
                        <label for="price">Precio:  </label>
                        <input type="number" id="precio" name="price">
                    </div>

                    <div class="campo input-campo">
                        <button type="submit">A침adir</button>
                    </div>
                
                </form>

            </div>
            
        </div>

    </section>

</body>
</html>