<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="/css/creacion.css" rel="stylesheet">
    <title>Editar Producto</title>
</head>
<body>

    <%- include ('../partials/header') %> 

    <section class="container forms">

        <div class="form login">
            
            <div class="form-content">

                <header class="reg">Editar Producto</header>

                <form action="/<%= producto.id %>/detalle" ?_method="put">

                    <div class="campo input-campo">
                        <label for="Nombre">Producto:</label>
                        <input type="text" placeholder="Search.." class="input" value="<%= producto.name %>">
                    </div>

                    <div class="campo input-campo">
                        <label for="Nombre">Descripción:  </label>
                        <input type="text" placeholder="descripcion del producto buscado" class="input" value="<%= producto.description %>">
                    </div>

                    <div class="campo input-campo">
                        <label for="Nombre">Imagen Producto:  </label>
                        <input type="file" accept="image/png, image/gif, image/jpeg">
                    </div>

                    <div class="campo input-campo">
                        <label for="categorias">Categorias:  </label>
                        <select name="categorias" id="categorias">
                            <option value=""><%= producto.tipe %></option>
                            <option value="">Panaderia</option>
                            <option value="">Pasteleria</option>
                        </select>
                    </div>
                    
                    <div class="campo input-campo">
                        <label for="cantidad">Cantidad:  </label>
                        <select name="cantidad" id="cantidad">
                            <option value="<%= producto.cantidad %>"><%= producto.cantidad %></option>
                            <option value="c/u">c/u</option>
                            <option value="el kg">el kg</option>
                            <option value="combo">Combo</option>
                        </select>
                    </div>

                    <div class="campo input-campo">
                        <label for="precio">Precio:  </label>
                        <input type="number" placeholder="precio de producto buscado" id="precio" name="precio" class="input" value="<%= Number(producto.price) %>">
                    </div>

                    <div class="campo input-campo">
                        <button type="submit">Modificar</button>
                    </div> 

                </form>
                <div class="eliminar">                    
                    <form method="POST" action="/productos/<%= producto.id %>/edicion?_method=DELETE">
                        <button type="submit">Eliminar</button>
                    </form>
                </div> 


            </div>
            
        </div>

    </section>

</body>
</html>