<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="/css/edicion.css" rel="stylesheet">
    <link href="/css/Validaciones.css" rel="stylesheet">
    <title>Editar Producto</title>
</head>
<body>

    <%- include ('../partials/header') %> 

    <div class="form ">
            
        <div class="form-content">

            <header class="reg">Editar Producto</header>
            

            <form method="POST" action="/productos/<%= productEdit.id %>/edicion?_method=PUT" enctype="multipart/form-data">

                <div>
                    <ul id="errores"> </ul>
                </div>

                <div class="campo input-campo">
                    <label for="name">Producto:</label>
                    <input type="text" placeholder="Search.." class="input" value="<%= productEdit.name %>" name="name">
                </div>

                <div class="campo input-campo">
                    <label for="description">Descripción:  </label>
                    <input type="text" placeholder="descripcion del producto buscado" class="input" value="<%= productEdit.description %>" name="description">
                </div>

                <div class="campo input-campo">
                    <label for="img">Imagen Producto:  </label>
                    <input type="file" accept="image/png, image/gif, image/jpeg"  value="<%= productEdit.img %>" name="img">
                </div>

                <div class="campo input-campo">
                    <label for="type">Categorias:  </label>
                    <select name="type" id="categorias">
                        <% for (let i = 0; i < allTypes.length; i++) { %> 
                            <option value="<%= allTypes[i].id %>"><%= allTypes[i].name %></option>
                        <% } %> 
                    </select>
                </div>
                
                <div class="campo input-campo">
                    <label for="lot">Cantidad:  </label>
                    <select name="lot" id="cantidad">
                        <% for (let i = 0; i < allLots.length; i++) { %> 
                            <option value="<%= allLots[i].id %>"><%= allLots[i].name %></option>
                        <% } %> 
                    </select>
                </div>

                <div class="campo input-campo">
                    <label for="price">Precio:  </label>
                    <input type="number" placeholder="precio de producto buscado" id="precio" name="price" class="input" value="<%= Number(productEdit.price) %>">
                </div>

                <div class="campo input-campo">
                    <button type="submit">Modificar</button>
                </div> 

            </form>
            <div class="eliminar">                    
                <form method="POST" action="/productos/<%= productEdit.id %>/edicion?_method=DELETE">
                    <button type="submit">Eliminar</button>
                </form>
            </div> 


        </div>
        
    </div>

    <script src="/js/creacion-edicion.js"></script>

</body>
</html>