<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="css/Index.css" rel="stylesheet">
    <link href="css/productos.css" rel="stylesheet">
    <title>Productos</title>
</head>

<body>

    <%- include ('../partials/header') %> 

    <main id="main-productos">

        <section id="productos"> 
            
            <% productos.forEach(product => { %> 
                <article class="card">
                    <a href="/detalle/<%= product.id %>"></a>
                    <img src="<%= product.img %>" class="imagen-producto">
                    <h3 class="descripcion"> <%= product.name %> ><br><br>$<%= product.price %> c/u</h3>
                </article>
            <% }) %> 
        </section>
    </main>

    <%- include ('../partials/footer') %> 

</body>  

</html>