<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
    <link href="/css/Registro.css" rel="stylesheet">
    <link href="/css/Validaciones.css" rel="stylesheet">
    <title>Registrate</title>
</head>
<body>

    <%- include ('../partials/header') %> 

    <section class="container forms">
        <div class="form login">
            <div class="form-content">

                <header class="reg">Registrate</header>
                <form action="/user/registro" method="POST" enctype="multipart/form-data">

                    <div>
                        <ul id="errores"> </ul>
                    </div>

                    <div class="campo input-campo">
                        <input type="email" placeholder="Email" class="input" name="email" required value="<%= locals.oldData ? oldData.email  : null %> ">
                        <% if (locals.errors && errors.email) {%>
                            <div class="text-danger">
                              <li><strong><%= errors.email.msg %></strong></li>
                            </div>
                        <% } %> 

                    </div>

                    <div class="campo input-campo">
                        <input type="text" placeholder="Nombre" class="input" name="name" required value="<%= locals.oldData ? oldData.name  : null %>">
                        <% if (locals.errors && errors.name) {%>
                            <div class="text-danger">
                               <li><strong><%= errors.name.msg %> </strong></li> 
                            </div>
                        <% } %> 

                    </div>

                    <div class="campo input-campo">
                        <input type="file" placeholder="Avatar" class="input" name="avatar" required value="<%= locals.oldData ? oldData.avatar : null %>">
                        <% if (locals.errors && errors.avatar) {%>
                            <div class="text-danger">
                                <li><strong><%= errors.avatar.msg %></strong></li> 
                            </div>
                        <% } %> 

                    </div>

                    <div class="campo input-campo">
                        <input type="password" placeholder="Contraseña" class="input" name="password" required>
                        <% if (locals.errors && errors.password) {%>
                            <div class="text-danger">
                               <li><strong><%= errors.password.msg %> </strong></li> 
                            </div>
                        <% } %> 

                        <!-- <i class="fa-regular fa-eye-slash"></i> -->
                    </div>

                    <div class="campo input-campo">
                        <input type="password" placeholder="Confirmar contraseña" class="input" name="confirm" required>
                        <!-- <i class="fa-regular fa-eye-slash"></i> -->
                        <span></span>
                    </div>

                    <div class="novedades">
                        <label for="novedades">
                            <input type="checkbox" id="novedades" name="novedades">Te gustaria recibir novedades?
                         </label>
                    </div>

                    <div class="campo input-campo">
                        <button>Registrarse</button>
                    </div>
                                    
                </form>
                <div class="form-link">
                   <span>Ya tenes una cuenta? <a href="/Login" class="signup-link">Inicia sesion</a></span>
                </div>
            </div>
            

        </div>
    </section>

    <script src="/js/registro.js"></script>

</body>
</html>